@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/




.container{
  margin: 0 207px;
}


.header-holder{
  height: 100vh;
padding-top: 10px;
  .header-line{
    display: flex;
    align-items: center;
    justify-content:space-between;
    .header-line-image{
      margin-left: 69px;
    }
    .header-line-button{
      margin-right: 238px;
      margin-top: 5px;
    .header-line-btn{
      box-sizing: border-box;
      background: #FFFFFF;
      border: 1px solid #222222;
      border-radius: 8px;
      padding: 10px 31px;
      font-size: 16px;
      color: black;
      
    }
  }
  }

.header{
  display: flex;
  .header-left{
    margin: 0 0 0 207px;
    .header-title{
      font-size: 68px;
      margin-top: 94px;
      
    }
  
    }
    .header-desc{
      font-size: 20px;
      margin-top: 27px;
      color: #555555;
      line-height: 28px;
     
    }
    .header-button{
      margin-top: 46px;
      .header-btn{
        background: #FFD338;
        border: 1px solid #FFD338;
        border-radius: 8px;
        padding: 15px 31px;
        color:black;
        font-size:16px;
        animation: 3s show ease;
      }
    }
  }
  .header-right{
    position: relative;
    .header-img1{
     
      left:60px;
      top:70px;
      position: absolute;
    }
    .header-img2{
     
      position: absolute;
      top:5px;
      left:238px;
    }
  }
}


.video-calls{
  height: 230vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 83.85%, #FFFFFF 100%), #FFF9E8;
  position: relative;
  .video-calls-img-bg{
    width: 100%;
  }
  .container{
    .video-calls-title{
      font-size: 52px;
      text-align: center;
      margin-top: 104px;
    }
    .video-calls-subtitle{
      font-size: 20px;
      text-align: center;
      color: #555555;
      margin-top: 25px;
      line-height: 28px;
    }
    .video-calls-first-part img{
      margin-top: 99px;
    }
    .video-calls-first-part{
      display: flex;
      
      .video-calls-first-part-title{
        font-size: 22px;
        margin-top: 168px;
        margin-left: 40px;
        line-height: 28.6px;
      }
      .video-calls-first-part-desc{
        font-size: 18px;
        margin-left: 40px;
        color: #555555;
        margin-top: 8px;
        line-height: 25.2px;
      }
    }
    .video-calls-second-part{
      
      .video-calls-second-part-img{
        position:absolute;
        top:720px;
        left: 295px;
      }
    }
    .video-calls-third-part{
      display: flex;
      margin-left: 88px;
      .video-calls-third-part-left{
        margin-top: 357px;
        .video-calls-third-part-left-title{
          font-size: 22px;
          line-height: 28.6px;
        }
        .video-calls-third-part-left-desc{
          font-size: 18px;
          color: #555555;
          margin-top: 8px;
          line-height: 25.2px;
        }
      }
      .video-calls-third-part-right{
        margin-top: 600px;
        display: flex;
        text-align: right;
        .video-calls-third-part-right-title{
          font-size: 22px;
          margin-left: 30px;
          line-height: 28.6px;
        }
        .video-calls-third-part-right-desc{
          font-size: 18px;
          color: #555555;
          margin-top: 8px;
          line-height: 25.2px;
        }
        .video-calls-third-part-img{
          position: relative;
        }
        .video-calls-third-part-img img{
          position:absolute;
          bottom:0px;
          left: 20px;
        }
        .video-calls-third-part-right-info{
          margin-left: 60px;
        }
        
      }
    }
  }
}


.livestreams{
  height: 210vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 70.31%, #FFFFFF 100%), #F0ECFF;
  position: relative;
  .livestreams-img-bg{
    width: 100%;
  }
  .container{
    .livestreams-title{
      font-size: 52px;
      text-align: center;
      margin-top: 74px;
      padding-top: 50px;
    }
    .livestreams-subtitle{
      font-size: 20px;
      text-align: center;
      color: #555555;
      margin-top: 25px;
      line-height: 28px;
    }
    .livestreams-first-part img{
      margin-top: 99px;
    }
    .livestreams-first-part{
      display: flex;
      
      .livestreams-first-part-title{
        font-size: 22px;
        margin-top: 168px;
        margin-left: 40px;
        line-height: 28.6px;
      }
      .livestreams-first-part-desc{
        font-size: 18px;
        margin-left: 40px;
        color: #555555;
        margin-top: 8px;
        line-height: 25.2px;
      }
    }
    .livestreams-second-part{
      
      .livestreams-second-part-img{
        position:absolute;
        top:580px;
        left: 295px;
      }
    }
    .livestreams-third-part{
      display: flex;
      margin-left: 88px;
      .livestreams-third-part-left{
        margin-top: 357px;
        .livestreams-third-part-left-title{
          font-size: 22px;
          line-height: 28.6px;
        }
        .livestreams-third-part-left-desc{
          font-size: 18px;
          color: #555555;
          margin-top: 8px;
          line-height: 25.2px;
        }
      }
      .livestreams-third-part-right{
        margin-top: 600px;
        display: flex;
        text-align: right;
        .livestreams-third-part-right-title{
          font-size: 22px;
          margin-left: 30px;
          line-height: 28.6px;
        }
        .livestreams-third-part-right-desc{
          font-size: 18px;
          color: #555555;
          margin-top: 8px;
          line-height: 25.2px;
        }
        .livestreams-third-part-img{
          position: relative;
        }
        .livestreams-third-part-img img{
          position:absolute;
          bottom:0px;
          left: 20px;
        }
        .livestreams-third-part-right-info{
          margin-left: 60px;
        }
        
      }
    }
  }
}

.features{
  height: 100vh;
  padding-top: 40px;
  .features-title{
    font-size: 55px;
    text-align: center;
  }
  .features-first-row{
    display: flex;
    justify-content: space-between;
    .features-first-row-item{
      margin-top: 89px;
      text-align: center;
      
      .features-first-row-item-title{
        font-size:22px;
        line-height: 28.6px;
        margin-top: 17px;
      }
      .features-first-row-item-desc{
        font-size: 18px;
        line-height: 25.2px;
        color: #555555;
        margin-top: 8px;
      }
    }
  }
  .features-second-row{
    display: flex;
    justify-content: space-between;
    .features-second-row-item{
      margin-top: 89px;
      text-align: center;
      
      .features-second-row-item-title{
        font-size:22px;
        line-height: 28.6px;
        margin-top: 17px;
      }
      .features-second-row-item-desc{
        font-size: 18px;
        line-height: 25.2px;
        color: #555555;
        margin-top: 8px;
      }
    }
  }
}

.pricing{
  background-color: #FFF9E8;
  .container{
    .pricing-title{
      font-size: 55px;
      padding-top: 29px;
      text-align: center;
    }
    .pricing-row{
      display: flex;
      justify-content: center;
    .pricing-card{
      background-color: #222222;
      width: 348px;
      height: 214px;
      margin-top: 69px;
      box-shadow: 4px 4px 0px #FFD338;
      border-radius: 30px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 80px;
      .pricing-card-title{
        font-size: 19px;
        color:white;
        text-align: center;
        padding-top: 39px;
      }
      .pricing-card-percent-holder{
        display: flex;
        justify-content: center;
        .pricing-card-last-percent{
          color:#666666;
          text-align: center;
          font-size: 50px;
          padding-top: 10px;
          text-decoration-line: line-through;
          margin-right: 15px;
        }
      }
      .pricing-card-percent{
        font-size: 50px;
        color:white;
        text-align: center;
        padding-top: 10px;
      }
      .pricing-card-desc{
        text-align: center;
        color: #999999;
        font-size: 16px;
        padding-top: 36px;
      }
    }
  }
  }
}

.invite{

  position: relative;
  .container{
    .invite-title{
      font-size: 56px;
      text-align: center;
      padding-top: 241px;
    }
    .invite-desc{
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #555555;
      margin-top: 26px;
    }
    .header-button{
      text-align: center;
      margin-top: 53px;
      .header-btn{
        background: #FFD338;
        border: 1px solid #FFD338;
        border-radius: 8px;
        padding: 15px 31px;
        color: black;
      }
    }
    .footer{
      padding-top: 270px;
      padding-bottom: 40px;
      text-align: center;
      .footer-holder{
        display: flex;
        justify-content:space-between;
        
      .footer-nav{
        
        .footer-nav-item{
          margin-right: 32px;
          color: black;
          
      
      
        }
      }
      .footer-icon{
     
      }
      .footer-text{
       
      width:279px;
      
      }
    }
    }
  }
}